<input type="hidden" id="bits_word" value="{{bits_word}}">
<input type="hidden" id="words_block" value="{{words_block}}">
<input type="hidden" id="cache_size" value="{{cache_size}}">
<input type="hidden" id="memory_size" value="{{memory_size}}">
<input type="hidden" id="read_type" value="{{read_type}}">

<input type="hidden" id="current_line" value="0">

<input type="text" id="word-input">
<button id="word-submit"></button>
<input type="text" id="block-input">
<button id="block-submit"></button>

<table>
    <thead>
        <tr>
            <td>
                Address
            </td>
            <td>
                Data
            </td>
        </tr>
    </thead>
    <tbody>
        {{#times memory_size as |memory|}}
            <tr>
                <td id="address_{{this}}">
                    
                </td>
                <td>
                    <table>
                        <tbody>
                            {{#each words}}
                                <tr>
                                    <td id="data_{{this}}_{{@key}}">

                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/times}}  
    </tbody>
</table>